{% if selected_tab == 'animations' %}
  {% for video in videos %}
    <div class="col">
      <video controls class="w-100 rounded-3 shadow-sm" style="aspect-ratio: 9/19.5; object-fit: cover;">
        <source src="{{ video.video.url }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
      </video>
    </div>
  {% empty %}
    <p class="text-muted">Нет видео</p>
  {% endfor %}
{% else %}
  {% for image in images %}
    <div class="col">
      <img src="{{ image.image.url }}" data-full="{{ image.image.url }}" alt="" class="img-fluid rounded-3 shadow-sm gallery-item" style="aspect-ratio: 9/19.5; object-fit: cover; cursor: pointer;">
    </div>
  {% empty %}
    <p class="text-muted">Нет изображений</p>
  {% endfor %}
{% endif %}